
/* FONTS */
@font-face {
  font-family: 'goodchildBold';
  src: 
    url('./fonts/GoodchildBold.ttf') format('woff');
}
@font-face {
  font-family: 'goodchildBoldItalic';
  src: 
    url('./fonts/GoodchildBoldItalic.ttf') format('woff');
}
@font-face {
  font-family: 'goodchildItalic';
  src: 
    url('./fonts/GoodchildItalic.ttf') format('woff');
}
@font-face {
  font-family: 'goodchildRegular';
  src: 
    url('./fonts/GoodchildRegular.ttf') format('woff');
}



/* GLOBAL */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100%;
}

h1 {
  font-family: goodchildBold;
  font-size: 200px;
}

h2 {
  font-family: goodchildRegular;
  font-size: 100px;
}

h3 {
  font-family: goodchildRegular;
  font-size: 76px;
}

h4 {
  font-family: goodchildBold;
  font-size: 24px;  
}
h5 {
  font-family: goodchildBold;
  font-size: 20px;  
}
h6 {
  font-family: goodchildBold;
  font-size: 16px;  
}

p {
  font-family: goodchildRegular;
  font-size: 20px;
}

a {
  font-family: goodchildPro;
}


/* Hamburger button and Menu */

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; 
  position: fixed;
  z-index: 100;
  right: 0;
}
.hamburger:hover {
  opacity: 0.7; 
}
.hamburger.is-active:hover {
  opacity: 0.7; 
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000; 
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; 
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; 
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; 
}
.hamburger-inner::before {
  top: -10px; 
}
.hamburger-inner::after {
  bottom: -10px; 
}


.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease; 
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
}
 .hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease; 
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); 
}


#masthead {
	position: fixed;
  z-index: 100;
	bottom: -100px;
  width: 100%;
  transition: bottom 1s ease;
}

.anchor-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.anchor {
  position: relative;
  padding: .8rem 2rem;
  text-decoration: none;
	font-size: 1rem;
  color: white;
  border-radius: 25px 25px 0px 0px;
  height: 50px;
  bottom: -10px;
  display: flex;
  align-items: flex-start;
  font-weight: 600;
  letter-spacing: .1rem;
}


body .is-active ~ #masthead {
  bottom: 0;
}

.anchor:nth-child(1) {
  background-color: #000000;
}
.anchor:nth-child(2) {
  background-color: #6BC2F7;
}
.anchor:nth-child(3) {
  background-color: #F2902F;
}
.anchor:nth-child(4) {
  background-color: #FF1D25;
}
.anchor:nth-child(5) {
  background-color: #ADE283;
}
.anchor:nth-child(6) {
  background-color: #F991BB;
}
.anchor:nth-child(7) {
  background-color: #D86CD8;
}

.anchor:hover {
  bottom: 0px;
}



/* CSS FOR ALL SECTIONS */


#smooth-content {
  -webkit-scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;  
}

#section1, #secton2, #section3, #section4, #section5, #section6, #section7 {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* Scroll Container */
.basis-container, .school-container, .location-container, .testing-container, .graduate-container, .testimonial-container {
  overscroll-behavior: none;
  width: 400vw; 
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;  
}

.location-container {
  width: 300vw;
}
.basis-container, .graduate-container {
  width: 200vw;
}
.school-container, .testimonial-container {
  width: 100vw;
}


/* Panel Defaults */
/* .basis, .panel, .location, .testing, .graduate, .testimonial {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  box-sizing: border-box;
  padding: 3em;
} */





/* Initial Sections and Homepage */


section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

#home {
  padding: 0;
}

#bg_back, #bg_front, #bcs{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  pointer-events: none;
}

#bg_front, #bg_back, #students {
  height: 100%;
}

#bg_front {
  opacity: 1;
}
/* #bg_back {
  opacity: 0;
} */

#bcs {
  position: absolute;
  top: 4%;
  left: 2%;
  width: auto;
  height: auto;
}

#title {
  height: auto;
  width: auto;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}



/* BEST OF BASIS */


/* BASIS Mask */
 
.best-of-basis {
  padding: 4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.basis.one, .basis.two {
  align-items: flex-end;
  padding: 0; 
}
.basis-title {
  position: relative;
  width: 100%;
}
.basis-h1 {
  position: absolute;
  left: 0;
  list-style: none;
  white-space: nowrap;
  color: transparent;
  -webkit-text-stroke: 1px black;
}
.basis-h1-mask-container {
  position: relative;
  height: 200px;
  overflow: hidden;
  outline: 1px transparent;
}
.basis-h1-mask {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  white-space: nowrap;
}

.basis-welcome {
  margin-top: 3rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60%;
  flex-wrap: wrap;
  column-gap: 3rem;
}
.basis-welcome p {
  margin-top: 1rem;
}
.basis-welcome p:nth-child(1) {
  color: #5191B9;
  font-weight: 800;
}
.basis .content {
  padding: 3rem;
}
.basis.two .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0;
}
.basis.two .content .text-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4rem;
}
.basis.two .content .text-box h4 {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 800;
  color: #5191B9;
}
.basis.two .content .text-box p {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

.basis.two .content .leadership {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 65%;
  padding: 1rem;
  background-color: #F0F4F7;
  border-radius: 50px 0 0 0;
}

.kids1 {
  padding-left: 1rem;
}
.kids1, .kids2 {
  /* position: absolute; */
  width: auto;
  height: 80%;
  object-fit: cover;
}




.leadership {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basis-and-texas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}
.basis-charter, .texas-charter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}
.basis-charter .logo, .texas-charter .logo {
  width: 65%;
}
.person-name {
  background-color: #CDEAFC;
  padding: 1.5rem;
  width: 191px;
  margin-top: -5px;
  border-radius: 0 0 0 30px;
}

.person-name p {
  font-size: 14px;
}









/* school-growth */

.panel {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.panel h3 {
  color: #F2902F;
  font-weight: 400;
}


/*  */

/* .panel-nav .active {
  position: fixed;
  top: 200px;
} */

.panel-nav li {
  height: 30px;
  display: flex;
  position: relative;
  margin-top: 0;
}

.panel-nav li:first-of-type {
  margin-top: 0;
}

.panel-nav li:hover, a {
  text-decoration: none;
  color: #242424;
}

.panel-nav li .dot {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #707070;
  border-radius: 50%;
  transform: translateX(-1.5rem);
  z-index: 1;
}

.panel-nav li .line, .panel-nav li .line-top {
  content: '';
  display: block;
  position: absolute;
  left: 6px;
  top: 15px;
  width: 2px;
  height: 20px;
  background-color: #707070;
  transform: translateX(-1.5rem);
  z-index: 0;
}
.panel-nav li .line-top {
  top: -15px;
}
/*  */






/* Locations */
.location {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.location.one h3, .location.two h3 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.arizona, .texas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.arizona-locations, .texas-locations {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.arizona-locations, .arizona-map, .texas-locations, .texas-map {
  width: 100%;
  height: 90%;
  display: flex; 
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  column-gap: 3rem;
}
.arizona, .texas {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.city-link {
  display: flex;
  align-items: center;
}
.city-link svg {
  margin-right: .5rem;
}

.locations-menu nav, .phoenix-area, .north-south-arizona, .north-arizona, .south-arizona {
  display: flex;
  flex-direction: column;
}
.south-arizona, .dallas-ft-worth-area {
  margin-top: 3rem;
}
.phoenix-area h4, .north-arizona h4, .south-arizona h4, 
.austin-area h4, .dallas-ft-worth-area h4, .san-antonio-area h4
{
  padding-bottom: 1rem;
}
.phoenix-area p, .north-arizona p, .south-arizona p,
.austin-area  p, .dallas-ft-worth-area p, .san-antonio-area p
{
  padding: .5rem 0;
}
.tooltip a {
  color: #000000;
}
.arizona-zoom-out, .texas-zoom-out {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  opacity: 0;
}



/* Testing and Scoring */
.testing {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.testing .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.testing .content .text-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}



.panel.three {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
.stat-container {
  position: relative;
  display: inline-block;
}

.cloud {
  position: absolute;
  top: 30px;
  left: 70px;
  transition: opacity 1s ease;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: white;
}

.stat {
  position: relative;
}

.stat-container:hover .cloud {
  opacity: 0;
}


.panel.four , .panel.five {
  display: flex;
  flex-direction: column;
}




/*  Stat Window Start */

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.stat-boxes {
  width: 25%;
  padding: 3rem;
}
.stat-boxes .text p {
  padding-top: 1rem;
}

.box {
  position: relative;
}

.stat {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stat h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* font-size: 2em; */
  color: #070286;
  font-weight: bold;
}

.overlay {
  position: absolute;
  margin: 0;
  top: 0;
  height: 200px;
  z-index: 98;
  background: rgba(13, 82, 137, 1);
}

.ovrl-left {
  width: 50%;
  left: 50%;
  /* -webkit-box-shadow: 9px 0px 19px 0px rgba(105, 109, 122, 1);
  box-shadow: 9px 0px 19px 0px rgba(105, 109, 122, 1); */
  background: linear-gradient(90deg, rgba(40,75,99,1) 50%, rgba(21,50,67,1) 100%);
  border-left: 0.5px solid rgba(255, 255, 255, 0.8);
}

.ovrl-right {
  width: 50%;
  right: 50%;
  /* -webkit-box-shadow: -9px 0px 19px 0px rgba(105, 109, 122, 1);
  box-shadow: -9px 0px 19px 0px rgba(105, 109, 122, 1); */
  background: linear-gradient(90deg, rgba(21,50,67,1) 50%, rgba(40,75,99,1) 100%);
}

.locker {
  position: absolute;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: .5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 99;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

i.arrow {
  font-size: 0.8em;
  color: #bcbcbc;
}

.move-right {
  -webkit-animation-name: myRight;
          animation-name: myRight;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.move-left {
  -webkit-animation-name: myLeft;
          animation-name: myLeft;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes myRight {
  0% {
    left: 50%;
    opacity: 1;
  }
  100% {
    left: 80%;
    opacity: 0;
    display: none;
  }
}

@keyframes myRight {
  0% {
    left: 50%;
    opacity: 1;
  }
  100% {
    left: 80%;
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes myLeft {
  0% {
    right: 50%;
    opacity: 1;
  }
  100% {
    right: 80%;
    opacity: 0;
    display: none;
  }
}

@keyframes myLeft {
  0% {
    right: 50%;
    opacity: 1;
  }
  100% {
    right: 80%;
    opacity: 0;
    display: none;
  }
}

/* Stat Window End */







/* Graduate Profile */
.graduate {
  display: flex;
  flex-direction: column;
}
.graduate .top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.top-row h2 {
  padding: 3rem;
  color: #FA65A1;
  font-weight: 400;
}
.top-row .images {
  margin-top: -2rem;
}
.top-row .images .purple {
  position: relative;
  top: 50px;
  left: -3%;
  z-index: 2;
}
.top-row .images .green {
  position: relative;
  left: -15%;
}
.colleges {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2vmin;
  justify-items: center;
  align-items: center;
  padding: 3rem;
}

.colleges img {
  transform: rotateX(45deg) rotateZ(-25deg);
  transform-style: preserve-3d;
  transition: .3s;
}
.colleges img:hover {
  transform: rotate(0) scale(1.5);
  z-index: 2;
  background-color: white;
}



/* Testimonials */
.testimonial {
  /* padding: 3rem; */
  display: flex;
  flex-direction: column;
}

.outerdiv {
  width: 100%;
  height: 100vh;
  padding: 3rem;
  background: #EDF2F8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerdiv {
	transform: scale(0.9);
	margin: 1rem;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: repeat(2, 16rem);
	grid-template-columns: repeat(4, 20rem);
}
.eachdiv {
	padding: 1rem 2rem;
  border-radius: 0.8rem;
  box-shadow: 5px 5px 20px #6d6b6b6b;
  color: black;
}
.div1 {
	background: #f4d8bd;
  grid-column: 1/2;
  grid-row: 1/3;
  background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x: 25rem;
}
.div2 {
	background:#bdc3e6;
  grid-column: 2/3;
  grid-row: 1/2;
}
.div3 {
	background: #a9d1d5;
  grid-column: 3/5;
  grid-row: 1/2;
  color: black;
}
.div4 {
	background: white;
	grid-column: 2/4;
  grid-row: 2/3;
  color: black;
}
.div5 {
	background: #f4d0ce;
	grid-column: 4/5;
  grid-row: 2/4;
}
.div6 {
	background: #a9d1d5;
	grid-column: 1/3;
  grid-row: 3/3;
}
.div7 {
	background: #bdc3e6;
	grid-column: 3/4;
  grid-row: 3/3;
}

.div1:hover, .div2:hover, .div3:hover, .div4:hover, .div5:hover, .div6:hover, .div7:hover {
  transform: scale(1.5);
  transition: all 1s;
  z-index: 2;
}

.userdetails {
	display: flex;
}
.imgbox {
	margin-right: 1rem;
}
.imgbox img {
	border-radius: 50%;
	width: 2rem;
	border: 2px solid #cec5c5;
}
.detbox {
	display: flex;
  flex-direction: column;
  justify-content: center;
  color: #49505A;
}
.detbox p {
	margin: 0;
}
/* .detbox .name
{
	color: hsl(0, 0%, 81%);
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
  font-weight: 600;
}
.detbox .name.dark
{
	color: #49505A;
}
.detbox .designation
{
	color: hsl(0, 0%, 81%);
  opacity: 50%;
  font-size: 0.8rem;
}
.detbox .designation.dark
{
	color: #49505A;
} */
.review h4 {
	font-size: 1.4rem;
	color: #F3DEFF;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.8rem;
}
.review.dark h4 {
	color:#4B5258;
}
/* .review {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
.review p {
	font-size: 1.2rem;
  color: #000000;
  font-weight: 500;
  opacity: 75%;
  line-height: 1.5;
  margin-top: .5rem;
}
.review.dark p {
	color: #0e0e0e;
}
.attribution {
	font-size: 1rem;
  line-height: 1.5;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-align: right;
}
.attribution a {
	text-decoration: none;
}

@media only screen and (max-width: 1000px) {
	.innerdiv {
		transform: scale(0.7);
	}
}
@media only screen and (max-width: 800px) {
	.innerdiv {
		transform: scale(0.6);
	}
}
@media only screen and (max-width: 600px) {
	.div1 {
		background-position-x: 10rem;
	}
	.innerdiv {
		display: flex; 
		flex-direction: column;
		transform: scale(1);
		margin: 2rem;
		margin-bottom: 5rem;
	}
	.attribution {
		position: relative;
	}
  .basis-container, .school-container, .location-container, .testing-container, .graduate-container, .testimonial-container {
    width: 100vw; 
  }
}



canvas {
  aspect-ratio: auto 960 / 400;
  background: white;
  overflow-clip-margin: content-box;
  overflow: clip;
  /* color: black; */
}
